/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/HelveticaRegular.woff") format("woff"), url("/fonts/HelveticaRegular.eot") format("eot"), url("/fonts/HelveticaRegular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/HelveticaBold.woff") format("woff"), url("/fonts/HelveticaBold.eot") format("eot"), url("/fonts/HelveticaBold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

body.win {
  animation: acid 1s linear 1s infinite;
}

body.win .slot {
  animation: tilt-n-move-shaking 0.1s linear 1s infinite;
}

* {
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
  position: absolute;
  top: 46.7%;
  height: 14%;
  overflow: hidden;
  width: 55.4%;
  left: 22.3%;
  justify-content: center;
  align-items: center;
}

.door {
  background: #fafafa;
  width: 100px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}

.boxes {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.slot {
  background: url("/img/slot.png");
  height: 80%;
  aspect-ratio: 864/1608;
  background-size: 100%;
  position: relative;
}

.arm {
  background: url("/img/arm.png");
  position: absolute;
  width: 11%;
  height: 18%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 46%;
  left: 91%;
  z-index: -1;
  transition: transform 0.1s;
}

.arm.active{
  animation: arm 0.3s;
}

.door img {
  max-width: 60%;
  max-height: 60%;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.9);
  z-index: 999;
  display:none;
}

.overlay.visible, .win .overlay {
  display:flex;
}

.win .overlay {
  animation: opct 5s normal;
}

input[type="submit"] {
  padding: 6px 12px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #000000;
  box-shadow: none;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  color: #fff;
  display: block;
  width: 100%;
}

input[type="email"] {
  padding: 6px 12px;
}

form.form input {
  margin-bottom: 15px;
}

form#form {
  min-width: 300px;
  max-width: 500px;
}

form#form input {
  width: 100%;
  box-sizing: border-box;
}

input.error {
  border: 3px solid red;
}

div#mystery {
  text-align: center;
  font-size: 36px;
  animation: opct 5s normal;
}

@keyframes arm {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 1);
  }
  50% {
    transform: matrix(1, 0, 0, 0.3, 0, 27);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 1);
  }
}

@keyframes acid {
  0% {
    background: white;
    color: white;
  }
  20% {
    background: #cbfd03;
    color: #ff7400;
  }
  40% {
    background: #02fe00;
    color: #ff01f4;
  }
  60% {
    background: #75ffff;
    color: #75ffff;
  }
  80% {
    background: #ff7400;
    color: #cbfd03;
  }
  100% {
    background: #ff01f4;
    color: #02fe00;
  }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes opct {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
